variables:
  DEBUG: 'TRUE'
  SOURCE_FOLDER: "."
  FLAWFINDER_OPTIONS: "-m 4 --error-level=5"
  CPPCHECK_OPTIONS: " --enable=warning --enable=performance --enable=portability --enable=information -DBBFDM_ENABLE_DOTSO_PLUGIN -DBBFDM_ENABLE_DOTSO_PLUGIN -DBBF_TR181 -DBBF_VENDOR_IOPSYS --inline-suppr -i test/"

include:
  - project: 'iopsys/gitlab-ci-pipeline'
    file: '/static-code-analysis.yml'
    ref: '0.31'
  - project: 'docs/portal2/pipeline-template'
    file: 'MkDocs.gitlab-ci.yml'
    rules:
       - if: $CI_COMMIT_BRANCH == "devel"

stages:
    - static_code_analysis
    - unit_test
    - functional_test
    - deploy

run_unit_test:
  stage: unit_test
  image: ${COMMON_IMAGE}
  allow_failure: false
  script:
  - "./gitlab-ci/install-dependencies.sh"
  - "./gitlab-ci/setup.sh"
  - "./gitlab-ci/unit-test.sh"
  artifacts:
    when: always
    paths:
      - unit-test-coverage.xml

run_tools_test:
  stage: unit_test
  image: ${COMMON_IMAGE}
  allow_failure: false
  script:
  - "./gitlab-ci/tools-test.sh"
  - "./gitlab-ci/generate_supported_dm.sh"

  artifacts:
      when: always
      paths:
          - out/datamodel_default.xml
          - out/datamodel_hdm.xml
          - out/datamodel.xls

run_libbbfdm_api_functional_test:
  stage: functional_test
  image: ${COMMON_IMAGE}
  allow_failure: false
  script:
  - "./gitlab-ci/install-dependencies.sh"
  - "./gitlab-ci/setup.sh"
  - "./gitlab-ci/functional-api-test.sh"

  artifacts:
      when: always
      paths:
          - functional-api-test-coverage.xml

run_libbbfdm_functional_test:
  stage: functional_test
  image: ${COMMON_IMAGE}
  allow_failure: false
  script:
  - "./gitlab-ci/install-dependencies.sh"
  - "./gitlab-ci/setup.sh"
  - "./gitlab-ci/functional-test.sh"

  artifacts:
      when: always
      paths:
          - functional-test-coverage.xml

run_libbbfdm_memory_test:
  stage: functional_test
  image: ${COMMON_IMAGE}
  allow_failure: false
  script:
  - "./gitlab-ci/install-dependencies.sh"
  - "./gitlab-ci/setup.sh"
  - "./gitlab-ci/memory-test.sh"
  artifacts:
      when: always
      paths:
          - output-report-device-get.txt
          - memory-*.xml

run_bbfd_functional_test:
    stage: functional_test
    image: ${COMMON_IMAGE}
    allow_failure: false
    script:
    - "./gitlab-ci/install-dependencies.sh"
    - "./gitlab-ci/setup.sh"
    - "./gitlab-ci/bbfdmd-functional-test.sh"
    artifacts:
        when: always
        reports:
            junit: ./report/*.xml
        paths:
            - funl-result.log
            - funl-test-coverage.xml
            - report/
            - memory-*.xml
