@page {
    size: a4 portrait;
    margin: 25mm 10mm 25mm 10mm;
    counter-increment: page;
    font-family: 'Madera', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    white-space: pre;
    color: grey;
    @top-left {
        content: '© 2022 IOPSYS';
    }
    @top-center {
        content: string(chapter);
    }
    @top-right {
        content: 'Page ' counter(page);
    }
}